@page

@model Libly.Pages.Books.CreateModel
@{
}

<h1>Create New Book</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly"/> 
    
    <div>
        <label asp-for="Book.Title"></label>
        <input asp-for="Book.Title" />
    </div>

    <div>
        <label asp-for="Book.Dop"></label>
        <input asp-for="Book.Dop" type="date" />
    </div>

    @* <div>
        <label asp-for="Book.Category"></label>
        <input asp-for="Book.Category" />
    </div> *@

    <div>
        <label asp-for="Book.CategoryId">Category</label>
        <select asp-for="Book.CategoryId" asp-items="Model.CategoryOptions"></select>
    </div>

    <div>
        <input type="submit" value="Create" />
    </div>
</form>