@page

@model Libly.Pages.Books.CreateModel
@{
}

<h1>Create New Book</h1>

<form method="post">
    <div asp-validation-summary="All"> 

    </div>
    
    <div>
        <label asp-for="BookVM.Title"></label>
        <input asp-for="BookVM.Title" />
    </div>

    <div>
        <label asp-for="BookVM.Dop"></label>
        <input asp-for="BookVM.Dop" type="date" />
    </div>

    @* <div>
        <label asp-for="Book.Category"></label>
        <input asp-for="Book.Category" />
    </div> *@

    <div>
        <label asp-for="BookVM.CategoryId">Category</label>
        <select asp-for="BookVM.CategoryId" asp-items="Model.CategoryOptions"></select>
    </div>

    <div>
        <input type="submit" value="Create" />
    </div>
</form>