@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Libly.Pages.Books.CreateModel
@{
}

<h1>Create New Book</h1>

<form method="post">
    <div asp-validation-summary="All"/> 
    
    <div>
        <label asp-for="Book.Title"></label>
        <input asp-for="Book.Title" />
    </div>

    <div>
        <label asp-for="Book.Dop"></label>
        <input asp-for="Book.Dop" type="date" />
    </div>

    <div>
        <label asp-for="Book.Category"></label>
        <input asp-for="Book.Category" />
    </div>

    <div>
        <input type="submit" value="Create" />
    </div>
</form>