@page

@model Libly.Pages.Books.EditModel

<h1>Edit Book</h1>

<form method="post">
    <!-- Hidden field for the Book ID -->
    <input type="hidden" asp-for="BookToUpdate.Id" />

    <div>
        <label asp-for="BookToUpdate.Title"></label>
        <input asp-for="BookToUpdate.Title" />
    </div>

    <div>
        <label asp-for="BookToUpdate.Dop"></label>
        <input asp-for="BookToUpdate.Dop" type="date" />
    </div>

    <div>
        <label asp-for="BookToUpdate.Category"></label>
        <input asp-for="BookToUpdate.Category" />
    </div>

    <div>
        <input type="submit" value="Update" />
    </div>
</form>

