@page
@model Libly.Pages.Books.IndexModel

<h1>Book List</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Date of Publication</th>  
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.books)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Category</td>
                <td>@book.Dop.ToShortDateString()</td>
                <td>
                    <a href="/Books/Edit?id=@book.Id">Edit</a> |
                    <a href="/Books/Delete?id=@book.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>