@page
@model Libly.Pages.Books.IndexModel

<h1>Book List</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Date of Publication</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.books)
        {
            <tr>
                <td>@book.GetId()</td>
                <td>@book.GetTitle()</td>
                <td>@book.GetCategory()</td>
                <td>@book.GetDop().ToShortDateString()</td>               
            </tr>
        }
    </tbody>
</table>