@page
@model Libly.Pages.ErrorModel
@{

}

<h1>Something went wrong.</h1>

<p>An unexpected error occurred. Please try again later.</p>
<p>If the problem persists, please contact support with this number @Model.ErrorCode</p>