@page

<h1>Welcome To Libly Software</h1>

<h4>What do you want to do?</h4>

<h3>Today is @DateTime.Now.ToShortTimeString() </h3>

<ul>
    <li>Browse books</li>
    <li>Issue books</li>
    <li>Return books</li>
    <li>Other</li>
</ul>
