<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Libly App</title>
</head>

<Body>
	<h1>Welcome to the Libly system <!/h1>
	@RenderBody()
</Body>
</html>